<div id="userDiv">
	<div class="container-fluid">
  		<div class="row-fluid">
    		<div class="span4">
    			<%= image_tag @user.photo.url, size: "350x350"  %>
    		</div>
    		<div class="span8">	
				<table class="table table-striped">
  
  					<th>User Information</th>
  					<th></th>
					  	<tr>
					    	<th>Name</th>
					    	<td><%= @user.firstname %></td>
					  	</tr>
					  	<tr>
					    	<th>Last name</th>
					    	<td><%= @user.lastname %></td>
					  	</tr>
					  	<tr>
					    	<th>Country</th>
					   	 	<td><%= @user.country %></td>
					  	</tr>
					  	<tr>
					    	<th>City</th>
					   	 	<td><%= @user.city %></td>
					  	</tr>
					  	<% if current_user.id == @user.id || ((!current_user.friendships.find_by(friend_id: @user.id).blank? && current_user.friendships.find_by(friend_id: @user.id).accepted) || 
					  		(!@user.friendships.find_by(friend_id: current_user.id).blank? && @user.friendships.find_by(friend_id: current_user.id).accepted) 
					  		) %>
						    <tr>
						    	<th>E-mail</th>
						    	<td><%= @user.email %></td>
						  	</tr>
						    <tr>
						    	<th>Phone</th>
						    	<td><%= @user.phone %></td>
						  	</tr>
						    <tr>
						    	<th>Birthday</th>
						    	<td><%= @user.birthday %></td>
						  	</tr> 
						  	<% if !current_user.friendships.find_by(friend_id: @user.id).blank? %>
							  	<tr>
							    	<th>Friends</th>
							    	<td>Yes</td>
							  	</tr>
						  	<% end %>
					  	<% end %>
					</table>  
    		</div>
  		</div>
  	</div>	

  	<% if @user.id != current_user.id %>
  		<%= link_to 'Send message', new_message_path(id: @user.id), class: 'btn btn-mini btn-primary', method: :get  %>
  		<% if current_user.friendships.find_by(friend_id: @user.id).blank? && @user.friendships.find_by(friend_id: current_user.id).blank? %>
  				<%= link_to 'Add as friend', friendships_path(friend_id: @user.id), class: 'btn btn-mini btn-primary', method: :post  %>
  		<% elsif (!current_user.friendships.find_by(friend_id: @user.id).blank? && current_user.friendships.find_by(friend_id: @user.id).accepted) || (!@user.friendships.find_by(friend_id: current_user.id).blank? && @user.friendships.find_by(friend_id: current_user.id).accepted) %>
  			<%= link_to 'Places', places_path(id: @user.id), class: 'btn btn-mini btn-primary', method: :get  %>
  		<% end %>
  	<% end %>
	
</div>