<div id="signIn">
	<h1>Chat</h1>

	<ul id="chat">
		<%= render @chats %>
	</ul>

	<%= form_for Chat.new, remote: true do |f| %>
		<%= f.text_field :message, placeholder: 'Enter chat message' %>
		<%= f.submit "Send" %>
	<% end %>

	<%= subscribe_to "/chats/new" %>
</div>