<div id="userDiv">
<h1>Find place</h1>

<%= form_tag find_place_path(current_user), :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'Place (e.g Stockholm, Sweden)' %>
    </p>
    <%= check_box_tag :food, checked = true %> Food
    <%= check_box_tag :airport, checked = true %> Airport
	<%= check_box_tag :atm, checked = true %> ATM
    <%= check_box_tag :cafe, checked = true %> Cafe<br />
    <%= check_box_tag :gym, checked = true %> Gym
    <%= check_box_tag :night_club, checked = true %> Club
    <%= check_box_tag :taxi_stand, checked = true %> Taxi
    <%= check_box_tag :shopping_mall, checked = true %> Shopping
	</br>
	</br>
<p>
    <%= submit_tag "Search Place", :name => nil, class: 'btn btn-primary' %>
  </p>
<% end %>

<% if @places.size > 0 %>
  	<table class="table table-striped">
	  	<th>Name</th>
      <th>Address</th>

  		<% @places.each do |place| %>
			<tr>
				<td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= link_to 'Show', show_spot_path(name: place.name, lat: place.latitude, lng: place.longitude, address: place.address), class: 'btn btn-mini btn-primary', method: :get  %></td>
			</tr>
		<% end %>
	</table>
<% end %>
</div>