<div id="menuDiv">
<% if @user.id == current_user.id %>
		<%= link_to 'Add image', '#signIn', class: 'btn btn-mini btn-primary' %> <br /> <br />
		<%= link_to 'Other visitors', place_users_path(latitude: @place.latitude, longitude: @place.longitude), class: 'btn btn-mini btn-primary', method: :get %>
	<% else %>
		<%= link_to @user.firstname + ' ' + @user.lastname, user_path(@user), class: 'btn btn-mini btn-primary', method: :get  %>
	<% end %>
</div>

<div id="userDiv">
	
	<h1><%= @place.name %> </h1>
	<h2><%= @place.address %></h2>
	<%  if @images.size > 0%>
		<% @images.each do |image| %>
			<%= link_to show_image_path(user_id: @user.id, image_id: image.id, place_id: @place.id) do %>
			    <%= image_tag image.image.url(:medium) %>
			<% end %>
		<% end %>
	<% else %>
		<h2>No images</h2>
	<% end %>
	
</div>
<% if @user.id == current_user.id %>
	<div id="signIn">
	<h1>Add new image</h1>

	<%= form_for @image, url: add_image_path(place_id: @place.id), :html => { :multipart => true } do |f| %>   
	    <p>
	      <%= f.text_field :title, placeholder: 'Title' %>
	    </p>

	    <p>
	      <%= f.text_area :description, placeholder: 'Description' %>
	    </p>

	      <%= f.file_field :image %>
	      <p>  
	          <%= f.submit 'Add image'%>
	      </p>
	  <% end %>
	<%= link_to "Back", :back %>
	</div>
<% end %>