<div id="customNavbar">
<div class="navbar">
  <div class="navbar-inner">
  	<ul class="nav">
    <% if @user.id == current_user.id %>
		<li><%= link_to 'Edit', edit_image_path(image_id: @image.id, place_id: @place.id ), method: :get  %> </li>
		<li><%= link_to 'Delete', delete_image_path(image_id: @image.id), method: :delete, confirm: 'Are your sure?'  %></li>
	<% else %>
		<li><%= link_to @user.firstname + ' ' + @user.lastname, user_path(@user), method: :get  %></li>
	<% end %>
	<li><%= link_to "Back", :back %></li>
    </ul>
  </div>
</div>
</div>

<div id="userDiv">
	<h1><%= @image.title %></h1>
	<%= image_tag @image.image.url %>
	<p>
		<%= @image.description %>
	</p>
</div>